@{ ViewBag.Title = "ClimaApp - Outros Radares";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="alert alert-dispensible alert-warning">
        <button type="button" class="close" data-despedir="alert"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;">  </font> </font> </button>
        <h4 class="alert-header"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> Atenção! </font> </font> </h4>
        <p class="mb-0"> <font style="vertical-align: inherit;"> <font style="vertical-align: inherit;"> Essa pagina está em construção! </font> <font style="vertical-align: inherit;">  </font> <font style="vertical-align: inherit;">  </font> </font> <a href="#" class="alert-link"> <font style=" vertical-align: inherit; "> <font style=" vertical-align: inherit; ">  </font> </font> </a> <font style=" vertical-align: inherit; "> <font style="vertical-align: inherit;">. </font> </font> </p>
    </div>
</body>
</html>